#shopify-product-reviews {
  --spr-max-width: 50rem;
  --spr-star-list-gap: .125rem;
  --spr-star-size: 1rem;
  --spr-star-image: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 15'%3E%3Cpath d='m8 0 2.116 5.088 5.492.44-4.184 3.584 1.278 5.36L8 11.6l-4.702 2.872 1.278-5.36L.392 5.528l5.492-.44L8 0Z' fill='currentColor'/%3E%3C/svg%3E");
  --spr-star-color: var(--star-color);
  --spr-review-gap: .75rem;
  --spr-review-reply-padding: 1.25rem;
  align-items: start;
  margin: 0;
  display: grid;
  overflow: visible;
}

#shopify-product-reviews :is(.spr-container, .spr-reviews, .spr-review, .spr-review-content, .spr-starratings, .spr-review-header-byline, .spr-review-reply, .spr-form, .spr-pagination) {
  margin: 0;
  padding: 0;
}

#shopify-product-reviews * {
  float: none;
}

#shopify-product-reviews:before, #shopify-product-reviews:after, #shopify-product-reviews :before, #shopify-product-reviews :after, #shopify-product-reviews .spr-header {
  display: none;
}

#shopify-product-reviews .spr-container {
  max-width: var(--spr-max-width);
  width: 100%;
  border: none;
  margin-inline-start: auto;
  margin-inline-end: auto;
}

#shopify-product-reviews .spr-content {
  row-gap: var(--spacing-8);
  display: grid;
}

#shopify-product-reviews :is(.spr-form-title, .spr-review-header-title) {
  font-family: var(--heading-font-family);
  font-style: var(--heading-font-style);
  font-weight: var(--heading-font-weight);
  letter-spacing: var(--heading-letter-spacing);
  text-transform: var(--heading-text-transform);
}

#shopify-product-reviews :is(.spr-review-content-body, .spr-review-header-byline, .spr-review-reply-body, .spr-review-reply-shop) {
  font-family: var(--text-font-family);
  font-style: var(--text-font-style);
  font-weight: var(--text-font-weight);
  font-size: var(--text-base);
  letter-spacing: var(--text-letter-spacing);
  line-height: inherit;
}

#shopify-product-reviews :is(.spr-review-header-byline, .spr-review-reportreview) {
  color: rgb(var(--text-color) / .7);
}

#shopify-product-reviews :is(.spr-starrating, .spr-starratings) {
  gap: var(--spr-star-list-gap);
  display: flex;
}

#shopify-product-reviews .spr-icon {
  width: var(--spr-star-size);
  height: var(--spr-star-size);
  background-color: rgb(var(--spr-star-color));
  -webkit-mask-image: var(--spr-star-image);
  mask-image: var(--spr-star-image);
  flex-shrink: 0;
  display: block;
  top: 0;
}

#shopify-product-reviews .spr-icon:before {
  display: none;
}

#shopify-product-reviews .spr-icon-star-empty {
  background-color: #969696;
}

#shopify-product-reviews .spr-form {
  padding: var(--spacing-6);
  border: 1px solid rgb(var(--text-color) / .12);
  border-radius: var(--rounded);
}

#shopify-product-reviews .spr-form-title {
  font-size: var(--text-h4);
  margin-block-end: var(--spacing-6);
  line-height: 1.3;
}

#shopify-product-reviews :is(.spr-form-contact-name, .spr-form-contact-email, .spr-form-contact-location, .spr-form-review-rating, .spr-form-review-title, .spr-form-review-body) {
  margin: 0;
  position: relative;
}

#shopify-product-reviews .spr-form-review-rating {
  gap: var(--spacing-5);
  height: calc(var(--input-height)  + .625rem);
  border-radius: var(--rounded-input);
  border-width: 1px;
  align-items: center;
  margin-block-start: var(--input-gap);
  padding-inline-start: var(--input-padding-inline);
  padding-inline-end: var(--input-padding-inline);
  display: flex;
}

#shopify-product-reviews .spr-form-review-rating .spr-form-label {
  font-size: var(--text-base);
  color: rgb(var(--text-color) / .5);
}

#shopify-product-reviews .spr-form-actions {
  margin-block-start: var(--spacing-6);
}

#shopify-product-reviews .spr-form-banner:not(:last-child) {
  margin-block-end: var(--spacing-6);
}

#shopify-product-reviews .spr-reviews {
  row-gap: 1.5rem;
  display: grid;
}

#shopify-product-reviews .spr-review {
  gap: var(--spr-review-gap);
  border-top-color: rgb(var(--text-color) / .12);
  padding-block-start: 1.5rem;
  display: grid;
  position: relative;
}

#shopify-product-reviews .spr-review:first-child {
  border-top: none;
  padding-block-start: 0;
}

#shopify-product-reviews .spr-review-header {
  display: contents;
}

#shopify-product-reviews .spr-review-header-title {
  font-size: var(--text-h6);
  line-height: 1.4;
}

#shopify-product-reviews .spr-review-header-byline {
  font-size: var(--text-sm);
  line-height: 1.7;
  position: absolute;
  bottom: 0;
}

#shopify-product-reviews .spr-review-header-byline > strong {
  font-weight: normal;
}

#shopify-product-reviews .spr-review-reportreview {
  font-size: var(--text-xs);
  line-height: 1.7;
  text-decoration: underline;
}

#shopify-product-reviews .spr-review-reply {
  padding: var(--spr-review-reply-padding);
  background: rgb(var(--text-color) / .05);
}

#shopify-product-reviews .spr-review-reply-body {
  font-size: var(--text-sm);
}

#shopify-product-reviews .spr-review-reply-shop {
  font-size: var(--text-sm);
  font-style: italic;
}

#shopify-product-reviews .spr-review-footer {
  margin-inline-start: auto;
}

#shopify-product-reviews .spr-pagination > div {
  width: max-content;
  padding: var(--spacing-2) var(--spacing-3);
  background: rgb(var(--background));
  border-radius: var(--rounded-button);
  border-width: 1px;
  justify-content: center;
  align-items: center;
  margin-block-start: var(--spacing-8);
  margin-inline-start: auto;
  margin-inline-end: auto;
  display: flex;
}

#shopify-product-reviews :is(.spr-pagination-prev, .spr-pagination-next) {
  position: relative;
}

#shopify-product-reviews :is(.spr-pagination-prev, .spr-pagination-next, .spr-pagination-page) {
  padding-inline-start: var(--spacing-2);
  padding-inline-end: var(--spacing-2);
}

@media screen and (min-width: 700px) {
  #shopify-product-reviews {
    --spr-star-size: 1.25rem;
    --spr-review-gap: 1rem;
    --spr-review-reply-padding: 1.5rem;
  }

  #shopify-product-reviews .spr-content {
    row-gap: var(--spacing-12);
  }

  #shopify-product-reviews .spr-form {
    padding: 2.5rem 3rem 3rem;
  }

  #shopify-product-reviews .spr-form-title {
    margin-block-end: var(--spacing-8);
  }

  #shopify-product-reviews .spr-reviews {
    row-gap: 2rem;
  }

  #shopify-product-reviews .spr-review {
    padding-block-start: 2.5rem;
  }

  #shopify-product-reviews .spr-pagination > div {
    padding: var(--spacing-3) var(--spacing-5);
  }
}

.custom-spr {
  gap: var(--spacing-8);
}

.custom-spr__header {
  justify-content: center;
  row-gap: var(--spacing-6);
  padding: var(--spacing-10);
  border-radius: var(--rounded);
  background-image: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 335 80'%3E%3Cg style='mix-blend-mode:overlay' opacity='.15'%3E%3Cpath d='m4 0 10.58 25.438 27.462 2.201L21.12 45.562l6.392 26.799L4 58l-23.511 14.36 6.392-26.798-20.923-17.923 27.462-2.201L4 0Zm82 0 10.58 25.438 27.462 2.201-20.923 17.923 6.392 26.799L86 58 62.489 72.36l6.392-26.798L47.958 27.64l27.462-2.201L86 0Zm82 0 10.58 25.438 27.462 2.201-20.923 17.923 6.392 26.799L168 58l-23.511 14.36 6.392-26.798-20.923-17.923 27.462-2.201L168 0Zm82 0 10.58 25.438 27.462 2.201-20.923 17.923 6.392 26.799L250 58l-23.511 14.36 6.392-26.798-20.923-17.923 27.462-2.201L250 0Zm82 0 10.58 25.438 27.462 2.201-20.923 17.923 6.392 26.799L332 58l-23.511 14.36 6.392-26.798-20.923-17.923 27.462-2.201L332 0Z' fill='%23fff'/%3E%3C/g%3E%3C/svg%3E"), var(--gradient);
  background-position: 0 35px, 100% 100%;
  background-repeat: no-repeat;
  display: grid;
}

.custom-spr__rating-value {
  letter-spacing: -.04em;
  margin-inline-end: var(--spacing-1);
  font-size: 3.75rem;
  line-height: 100%;
}

@media screen and (min-width: 700px) {
  .custom-spr__rating-value {
    margin-inline-end: var(--spacing-2);
    font-size: 5rem;
  }
}

@media screen and (min-width: 1000px) {
  .custom-spr {
    justify-content: center;
    column-gap: var(--spacing-16);
    grid-template-columns: 350px minmax(0, 800px);
  }

  .custom-spr__header {
    row-gap: var(--spacing-8);
  }
}

@media screen and (min-width: 1150px) {
  .custom-spr {
    column-gap: var(--spacing-20);
    grid-template-columns: 445px minmax(0, 800px);
  }
}

@media screen and (min-width: 1400px) {
  .custom-spr {
    column-gap: var(--spacing-28);
  }

  .custom-spr__header {
    padding: var(--spacing-16);
  }

  .custom-spr__rating-value {
    font-size: 7.5rem;
  }
}
