@import url("https://fonts.googleapis.com/css2?family=Saira:wght@400;600;700;900&family=Syne&display=swap");
/* body {
  background: #000000 !important;
} */
/* ------------ Enter Step Sec ------------ */
.shopify-section .enter_step_sec {
  padding: 29px 30px 22px;
}
.shopify-section .enter_step_sec .multi-column__item {
  justify-content: center;
}
.shopify-section .enter_step_sec .multi-column__item:not(:last-child) {
  border-right: 1px solid #db6f75;
}
.shopify-section .enter_step_sec .multi-column__item .v-stack {
  gap: 0;
}
.enter_step_sec .title_block {
  display: flex;
  gap: 8px;
  align-items: baseline;
}
.enter_step_sec .title_block .h2 {
  font-size: 79px;
  line-height: 157%;
}
.enter_step_sec .title_block .column_subtitle {
  font-size: 66px;
  font-weight: 400;
  line-height: 157%;
}
.enter_step_sec .prose {
  color: #fff;
  font-family: Syne, sans-serif;
  font-size: 20px;
  line-height: 157%;
  margin-top: -20px;
  padding-bottom: 20px;
}
@media screen and (max-width: 1500px) {
  .shopify-section .enter_step_sec {
    padding: 30px 20px;
  }
  .enter_step_sec .title_block .h2 {
    font-size: 65px;
  }
  .enter_step_sec .title_block .column_subtitle {
    font-size: 52px;
  }
  .enter_step_sec .prose {
    font-size: 20px;
  }
}
@media screen and (max-width: 1399px) {
  .enter_step_sec .title_block {
    flex-wrap: wrap;
  }
}
