
    <section class="giveaway-page">
    <img src="https://cdn.shopify.com/s/files/1/0268/8149/1135/files/Artboard_3_copy_4_2x_967efdcc-9b39-4b77-ba2e-ca706a928c37.png?v=1698041657">
    </section>
    <section class="how-to-enter">
   <img src="https://cdn.shopify.com/s/files/1/0268/8149/1135/files/image_2023_10_26T03_22_05_585Z.png?v=1698297034">
        <!-- <div class="container">
            <div class="enter-text-box">
                <h3>How to enter</h3>
                <div class="entries">
                    <div class="numbers">
                        <p class="entry-number">1</p>
                        <div class="entri-desc">
                            <p class="title">ENTRY</p>
                            <p class="subtitle">Sign up to the Newsletter</p>
                        </div>
                    </div>
                    <div class="numbers">
                        <p class="entry-number">10</p>
                        <div class="entri-desc">
                            <p class="title">ENTRIES</p>
                            <p class="subtitle">Spend $1000</p>
                        </div>
                    </div>
                    <div class="numbers">
                         <p class="entry-number">20</p>
                        <div class="entri-desc">
                            <p class="title">ENTRIES</p>
                            <p class="subtitle">Spend $2000</p>
                        </div>
                    </div>
                </div>
                <p>Each of which will automatically enter you into the draw.</p>
            </div>
        </div> -->
    </section>
    <section class="secure-entry">
        <div class="container">
            <div class="simulator-giveaway">
                <h2>Sign Up to enter the giveaway</h2>
                <p>By submitting your email, you accept <a href="#">Trak Racer’s Privacy Policy</a></p>
                <form>
                   
                <div id="kalviyo-form">
                 <div class="klaviyo-form-UaES3V"></div>
                </div>
                </form>
            </div>
<h3>The Giveaway ends in:</h3>
            <div id="countdown" class="giveaway-time">
                <div class="duration">
                    <h4 id="days"></h4>
                    <h6>Days</h6>
                </div>
                <div class="duration">
                    <h4 id="hours"></h4>
                    <h6>Hours</h6>
                </div>
                <div class="duration">
                    <h4 id="minutes"></h4>
                    <h6>Minutes</h6>
                </div>
                <div class="duration">
                    <h4 id="seconds"></h4>
                      <h6>Seconds</h6>
                                </div>
            </div>

            <div class="last-year-winner">
                <div class="winner-img">
                    <img src="https://cdn.shopify.com/s/files/1/0268/8149/1135/files/last-year.png?v=1698215515">
                </div>
                <div class="winner-text">
                    <h4>LAST YEARS WINNER</h4>
                    <p>Rhys, from Sydney, Australia, was the lucky winner to our 2022 Sim Racing Package Giveaway valued at US$9,000. He won a Simucube Ultimate, Rexing GT Wheel, Rexing Formula Wheel, Meca Cup Pedals, Meca EVO Handbrake and Meca Evo Shifter. 
</p>
                    <b>THIS YEAR WE DECIDED TO BIGGER WITH…</b>
                </div>
            </div>

        </div>
    </section>
    
    <section class="epic-giveaway">
        <div class="container">
            <h2>The Trak Racer Epic Giveaway Includes</h2>
        </div>
    </section>
    <section class="alpine-carousel-section">
    <div class="container">
        <div class="slick-carousel">
            <div>
                <div class="slide-content">
                    <div class="alpine-carousel">
                      <a href="https://trakracer.com/products/alpine-racing-trx-2023-livery">
                      <h3>ALPINE RACING TRX</h3> 
                      <img class="slider-image"
                            src="https://cdn.shopify.com/s/files/1/0268/8149/1135/files/alpine-racing_ad09a165-c283-4fb9-9afa-86dee72bb69d.png?v=1697624873">
                        </a>
                      <div class="logo-price">
                        <img src="https://cdn.shopify.com/s/files/1/0268/8149/1135/files/alpine-trx.png?v=1697718334">
                        <h4>US$1,498</h4>
                      </div>

                      
                    </div>
                </div>
            </div>
            <div>
                <div class="slide-content">
                    <div class="alpine-carousel">
                     <a href="">
                      <h3>Trak Racer Ultrawide 49” Monitor</h3> 
                      <img class="slider-image"
                            src="https://cdn.shopify.com/s/files/1/0268/8149/1135/files/ultrwide-monitor_e118df90-807f-4e9a-a19b-8815b6d88c2e.png?v=1697624872">
                     </a>
     <div class="logo-price">
                        <img src="https://cdn.shopify.com/s/files/1/0268/8149/1135/files/tr-logo.png?v=1697694647">
                        <h4>US$649</h4>
                      </div>
                       
                    </div>
                </div>
            </div>

            <div>
                <div class="slide-content">
                    <div class="alpine-carousel">
                      <a href="https://trakracer.com/collections/haptic-systems/products/copy-of-d-box-gen-5-4250i-haptic-system-with-4-motion-actuators-1-5-stroke-travel-range"> 
                      <h3>D-BOX GEN 5 4250I HAPTIC SYSTEM WITH 4 MOTION ACTUATORS with Trak Racer Mounting Base
                            </h3>
                      <img class="slider-image"
                            src="https://cdn.shopify.com/s/files/1/0268/8149/1135/files/d-box-haptic_23fc4364-badb-45d9-a931-98cf7ca85aa3.png?v=1697624873">
                      </a>
                        <div class="logo-price">
                        <img src="https://cdn.shopify.com/s/files/1/0268/8149/1135/files/dbox-logo.png?v=1697694647">
                        <h4>US$8,464</h4>
                      </div>
                    </div>
                </div>
            </div>

            <div>
                <div class="slide-content">
                    <div class="alpine-carousel">
                    <a href="">
                      <h3>Two Simucube ActivePedals with Throttle</h3> 
                      <img class="slider-image"
                            src="https://cdn.shopify.com/s/files/1/0268/8149/1135/files/simucube-throttle_b188ecea-ff45-479a-81f0-dd5820929ac0.png?v=1697624872">
                    </a>
                       
                    </div>
                </div>
            </div>

            <div>
                <div class="slide-content">
                    <div class="alpine-carousel">
                      <a href="https://trakracer.com/collections/all/products/simucube-2-ultimate-direct-drive-wheel-base"> 
                      <h3>Simucube 2 Ultimate Wheelbase</h3> 
                      <img class="slider-image"
                            src="https://cdn.shopify.com/s/files/1/0268/8149/1135/files/simucube-wheelbase_126cb97d-a3ee-4153-93c6-1dcd376b8445.png?v=1697623670">
                      </a>
                         <div class="logo-price">
                        <img src="https://cdn.shopify.com/s/files/1/0268/8149/1135/files/simucube-logo.png?v=1697694647">
                        <h4>US$2,949
</h4>
                      </div>
                       
                    </div>
                </div>
            </div>

            <div>
                <div class="slide-content">
                    <div class="alpine-carousel">
                      <a href="https://trakracer.com/collections/all/products/rexing-gt-wheel"> 
                      <h3>Rexing GT Steering Wheel “Timun”</h3> 
                      <img class="slider-image"
                            src="https://cdn.shopify.com/s/files/1/0268/8149/1135/files/GT-2022-Timun-_4_-1_1_1eb85e88-a7b7-4f88-93dc-819078080561.png?v=1697624873">
                      </a>
                       <div class="logo-price">
                 <img src="https://cdn.shopify.com/s/files/1/0268/8149/1135/files/rexing_0fe67195-b9ac-4c64-ac60-36ce1682f991.png?v=1697779342">
                     <h4> US$1,899 </h4>
                       </div>
                    </div>
                </div>
            </div>

            <div>
                <div class="slide-content">
                    <div class="alpine-carousel">
                      <a href="https://trakracer.com/collections/all/products/rexing-formula-wheel-1">
                      <h3>Rexing Formula Wheel “Mayaris”</h3>
                      <img class="slider-image"
                            src="https://cdn.shopify.com/s/files/1/0268/8149/1135/files/Group-1000007199_1_43678474-a814-41ae-87fe-bb671cd3d198.png?v=1697624873">
                      </a>
                        <div class="logo-price">
                 <img src="https://cdn.shopify.com/s/files/1/0268/8149/1135/files/rexing_0fe67195-b9ac-4c64-ac60-36ce1682f991.png?v=1697779342">
                      <h4>US$1,799</h4>
                       </div>
                    </div>
                </div>
            </div>

            <div>
                <div class="slide-content">
                    <div class="alpine-carousel">
                      <a href="https://trakracer.com/collections/all/products/sim-handbrake"> 
                      <h3>Heuskinvield Handbrake </h3>
                      <img class="slider-image"
                            src="https://cdn.shopify.com/s/files/1/0268/8149/1135/files/handbrake_f649ad95-9f51-4f13-997b-7c570458a4a4.png?v=1697624872">
                      </a>
                          <div class="logo-price">
                 <img src="https://cdn.shopify.com/s/files/1/0268/8149/1135/files/heusinkveld.png?v=1697694647">
                      <h4>US$319</h4>
                       </div>
                    </div>
                </div>
            </div>

            <div>
                <div class="slide-content">
                    <div class="alpine-carousel">
                     <a href="https://trakracer.com/collections/all/products/vnm-shifter-h-pattern-manual-or-sequential-gearbox">
                      <h3>VNM Shifer - H-PATTERN MANUAL OR SEQUENTIAL GEARBOX</h3>
                      <img class="slider-image"
                            src="https://cdn.shopify.com/s/files/1/0268/8149/1135/files/vnm-shifter_b93b3f30-9e10-40ee-b368-16426f41abef.png?v=1697624872">
                     </a>
                    
                          <div class="logo-price">
                 <img src="https://cdn.shopify.com/s/files/1/0268/8149/1135/files/vnm.png?v=1698041501">
                      <h4>US$269</h4>
                       </div>
                    </div>
                </div>
            </div>

            <div>
                <div class="slide-content">
                    <div class="alpine-carousel">
                      <a href="">
                      <h3>Tobii Eye Tracker</h3>
                      <img class="slider-image"
                            src="https://cdn.shopify.com/s/files/1/0268/8149/1135/files/9378AAC4-6647-49E9-B3D3-6E743AC2578C_1_b0a3627a-81bc-4e85-acb1-e58db5b0dcd1.png?v=1697624872">
                      </a>
                             <div class="logo-price">
                 <img src="https://cdn.shopify.com/s/files/1/0268/8149/1135/files/tobii.png?v=1697694647">
                      <h4>US$295 
</h4>
                       </div>
                       
                    </div>
                </div>
            </div>

            <div>
                <div class="slide-content">
                    <div class="alpine-carousel">
                      <a href=""> 
                      <h3>Trak Racer Gaming Headset</h3>
                      <img class="slider-image"
                            src="https://cdn.shopify.com/s/files/1/0268/8149/1135/files/headset_e772f807-0ef8-4148-95c9-4a6d25ebd8b8.png?v=1697624872">
                      </a>
                                       <div class="logo-price">
                 <img src="https://cdn.shopify.com/s/files/1/0268/8149/1135/files/tr-logo.png?v=1697694647">
         </div>
                    </div>
                </div>
            </div>

            <div>
                <div class="slide-content">
                    <div class="alpine-carousel">
                      <a href="https://trakracer.com/search?type=product%2Carticle%2Cpage%2Ccollection&q=gloves*">  
                      <h3>Trak Racer Sim Racing Gloves</h3> 
                      <img class="slider-image"
                            src="https://cdn.shopify.com/s/files/1/0268/8149/1135/files/racing-gloves_55269609-1e6c-42f4-833b-449a67edc98d.png?v=1697624873">
                      </a>
                                    <div class="logo-price">
                 <img src="https://cdn.shopify.com/s/files/1/0268/8149/1135/files/tr-logo.png?v=1697694647">
                      <h4>US$140 
</h4>
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    <section class="giveaway-details">
        <div class="container">
            <div class="giveaway-experience">
                <div class="alpine-image">
                    <div class="alpine-left">
                       <h3>ALPINE RACING TRX</h3>
                        <img src="https://cdn.shopify.com/s/files/1/0268/8149/1135/files/alpine-racing_ad09a165-c283-4fb9-9afa-86dee72bb69d.png?v=1697624873">
                    </div>
                    <div class="alpine-right">
                      <img src="https://cdn.shopify.com/s/files/1/0268/8149/1135/files/alpine-trx.png?v=1697718334">
                       
                        <p>Developed alongside Alpine F1 engineers, the Alpine Racing TRX is the first Sim Racing
                            cockpit
                            allowing you to switch
                            between Formula and GT seating position in minutes.</p>
                       
                    </div>
                </div>
                              <div class="alpine-image alpine-reverse">
                
                    <div class="alpine-right">
                            <img src="https://cdn.shopify.com/s/files/1/0268/8149/1135/files/dbox-logo.png?v=1697694647">
                       <p>D-BOX revolutionizes the sim racing experience with haptic technology by communicating with
                            drivers in a way that’s not
                            through sight and sound; but through perfectly synchronized movements, vibrations and
                            textures. With more than 65,000
                            hand-coded haptic effects, D-BOX motion systems allow you to sense the smallest details that
                            have potential to shave
                            seconds off your lap time, such as the feeling of your tires wearing down and the feeling of
                            any imperfections in the tracks!</p>

                        <p>As the only haptic system to be licensed by the FIA, D-BOX is even used by professional
                            drivers to train off-the track— making it an essential enhancement for sim racers seeking
                            the most authentic and immersive experience.</p>
                    </div>
                                    <div class="alpine-left">
                       <h3>D-BOX GEN 5 4250I HAPTIC SYSTEM WITH 4 MOTION ACTUATORS with Trak Racer Mounting Base</h3> 
                      <img src="https://cdn.shopify.com/s/files/1/0268/8149/1135/files/d-box-haptic_23fc4364-badb-45d9-a931-98cf7ca85aa3.png?v=1697624873">
                      
                       
                       
                    </div>

                </div>
                  <div class="alpine-image alpine-reverse">
                    <div class="alpine-left">
                       <h3>Two Simucube ActivePedals with Throttle</h3>
                      <img src="https://cdn.shopify.com/s/files/1/0268/8149/1135/files/simucube-throttle_b188ecea-ff45-479a-81f0-dd5820929ac0.png?v=1697624872">
                    </div>
                    <div class="alpine-right">
                            <img src="https://cdn.shopify.com/s/files/1/0268/8149/1135/files/simucube-logo.png?v=1697694647">
                       
                        <p>Simucube ActivePedal is the world’s first pedal created by you. With unlimited adjustability,
                            repeatability, and telemetry
                            based force feedback effects, it is designed to be the last pedal you’ll need</p>
                    </div>
                   
                </div>
                              <div class="alpine-image">
                 
                    <div class="alpine-right">
                         <img src="https://cdn.shopify.com/s/files/1/0268/8149/1135/files/simucube-logo.png?v=1697694647">
                      
                        <p>The Simucube 2 Ultimate Direct Drive System raises the bar for sim racing steering wheel
                            systems. It offers the most
                            realistic and detailed force feedback currently available through a high torque, brushless
                            motor. For those seeking the very
                            best direct drive system for their home cockpit or professional simulator, the Ultimate will
                            provide you with the best possible
                            feedback system available. A massive 32Nm of torque is produced from the highly optimised
                            motor which is combined with
                            a 24 bit Hiperface encoder to produce the most advanced signal processing unit currently
                            available.</p>
                    </div>

                                   <div class="alpine-left">
                        <h3>Simucube 2 Ultimate Wheelbase</h3>
                      <img src="https://cdn.shopify.com/s/files/1/0268/8149/1135/files/simucube-wheelbase_126cb97d-a3ee-4153-93c6-1dcd376b8445.png?v=1697623670">
                    </div>

                </div>


            

                <div class="alpine-image alpine-reverse">
     <div class="alpine-left">
                       <h3>Rexing GT Steering Wheel “Timun”</h3> 
                      <img src="https://cdn.shopify.com/s/files/1/0268/8149/1135/files/GT-2022-Timun-_4_-1_1_1eb85e88-a7b7-4f88-93dc-819078080561.png?v=1697624873">
                    </div>
                    <div class="alpine-right">
                         <img src="https://cdn.shopify.com/s/files/1/0268/8149/1135/files/rexing_0fe67195-b9ac-4c64-ac60-36ce1682f991.png?v=1697779342">
                       
                        <p>Rexing GT steering wheel is used as addon wheel for PC games and simulations featuring:
                        </p>
<ul>
                            <li>Full carbon fiber body</li>
                            <li> 4.3″ wide angle color LCD by Ultimate Game Tech</li>
                            <li>15 rpm LEDs, 6 additional marshal LEDs</li>
                            <li> Original alcanatara grips</li>
                            <li> Analog joystick/thumbstick</li>
                            <li> 13 configurable push-buttons:</li>
                            <li>8 highest quality industrial push-buttons with snap action</li>
                            <li>4 high-quality tactile switches arranged in D-Pad configuration</li>
                            <li>configurable center push on analog joystick</li>
                            <li> 2 thumb rotary encoders</li>
                            <li>2 additional rotary encoders on the front of the wheel</li>
                            <li>12-position switch</li>
                            <li> 2 momentary toggle switches, each with up and position and spring return to center</li>
                            <li> tempered glass display cover</li>
                            <li>all aluminium knobs</li>
                        </ul>
                        
                    </div>
               
                </div>
                <div class="alpine-image">
                 
                    <div class="alpine-right">
                         <img src="https://cdn.shopify.com/s/files/1/0268/8149/1135/files/rexing_0fe67195-b9ac-4c64-ac60-36ce1682f991.png?v=1697779342">
                        
                        <p>
                            <b>CARBON FIBER FORMULA STEERING WHEEL</b>
                            Rexing steering wheel is molded out of carbon fiber. The bodywork itself is the chassis. No
                            metal inserts - only CARBON
                            FIBER strength and endurance with superior finish. Rexing we learned the production process
                            from aeronautics and real
                            motorsports steering wheels.
                        </p>

                        <p>LCD DISPLAY 4.3” LCD display compatible with all major sim racing games with RPM LEDs and
                            six additional LEDs.
                            ILLUMINATED PUSH-BUTTONS 10 dimmable backlit push-buttons, fully configurable to any
                            telemetry data. On top of that,
                            you can add more than one telemetry data conditions to the same button, and choose how to
                            prioritize them.
                            MULTI-SWITCH It can be rotated - like an encoder. It can be pressed - like a button. It can
                            be pushed up, down, left, right -
                            like a joystick
                        </p>
                    </div>
   <div class="alpine-left">
                      <h3>Rexing Formula Wheel “Mayaris”</h3> 
                      <img src="https://cdn.shopify.com/s/files/1/0268/8149/1135/files/Group-1000007199_1_43678474-a814-41ae-87fe-bb671cd3d198.png?v=1697624873">
                    </div>
                </div>
                              <div class="alpine-image alpine-reverse">
                    
                    <div class="alpine-left">
                       <h3>Trak Racer Ultrawide 49” Monitor</h3>
                      <img src="https://cdn.shopify.com/s/files/1/0268/8149/1135/files/ultrwide-monitor_e118df90-807f-4e9a-a19b-8815b6d88c2e.png?v=1697624872">
                    </div>
                                <div class="alpine-right">
                      <img src="https://cdn.shopify.com/s/files/1/0268/8149/1135/files/tr-logo.png?v=1697694647"> 
                     
                    </div>

                </div>
                <div class="alpine-image alpine-reverse">
                     
                    <div class="alpine-right">
                      <img src="https://cdn.shopify.com/s/files/1/0268/8149/1135/files/heusinkveld.png?v=1697694647">
                      
                        <p>
                            The Heusinkveld Handbrake is a versatile, pressure sensitive USB simulator handbrake using
                            load cell technology. It has a
                            firm and adjustable progressive feel with up to 22kg of force at the lever (120kg load cell)
                        </p>
                    </div>
                    <div class="alpine-left">
                        <h3>Heuskinvield Handbrake </h3> 
                      <img src="https://cdn.shopify.com/s/files/1/0268/8149/1135/files/handbrake_f649ad95-9f51-4f13-997b-7c570458a4a4.png?v=1697624872">
                    </div>

                </div>
                <div class="alpine-image">
                    <div class="alpine-left">
                         <h3>VNM Shifer - H-PATTERN MANUAL OR SEQUENTIAL GEARBOX</h3> 
                      <img src="https://cdn.shopify.com/s/files/1/0268/8149/1135/files/vnm-shifter_b93b3f30-9e10-40ee-b368-16426f41abef.png?v=1697624872">
                    </div>
                    <div class="alpine-right">
                      <img src="https://cdn.shopify.com/s/files/1/0268/8149/1135/files/vnm.png?v=1698041501">
                     
                        <p>
                            The VNM Shifter, designed for competitive sim racing, lets you configure for a Sequential
                            Gearbox or
                            up to a 7-speed H-pattern gearbox(6+Reverse). The full metal construction provides the VNM
                            Shifter with the most realistic tactile feedback and adjustable tension in its price range.
                            With I clever
                            design the compact VNM shift allows you to easily mount to your racing simulator from the
                            side or
                            the base of the shifter.
                        </p>
                    </div>
                </div>
                <div class="alpine-image alpine-reverse">

                    <div class="alpine-right">
                      <img src="https://cdn.shopify.com/s/files/1/0268/8149/1135/files/tobii.png?v=1697694647">
                      
                        <p>
                            Tobii Eye Tracker 5 is the only PC gaming device capable of tracking both head and eye
                            movements, unlocking a
                            revolutionary new way to be less hands-on in your favorite games.
                        </p>
                    </div>
                    <div class="alpine-left">
                        <h3>Tobii Eye Tracker</h3> 
                      <img src="https://cdn.shopify.com/s/files/1/0268/8149/1135/files/9378AAC4-6647-49E9-B3D3-6E743AC2578C_1_b0a3627a-81bc-4e85-acb1-e58db5b0dcd1.png?v=1697624872">
                    </div>
                </div>
                <div class="alpine-image">
                    <div class="alpine-left">
                        <h3>Trak Racer Gaming Headset</h3>
                      <img src="https://cdn.shopify.com/s/files/1/0268/8149/1135/files/headset_e772f807-0ef8-4148-95c9-4a6d25ebd8b8.png?v=1697624872">
                    </div>
                    <div class="alpine-right">
                       <img src="https://cdn.shopify.com/s/files/1/0268/8149/1135/files/tr-logo.png?v=1697694647">
                      
                        <p>
                            NEED DESCRIPTION
                        </p>
                    </div>
                </div>
                <div class="alpine-image alpine-reverse">
                    <div class="alpine-right">
                       <img src="https://cdn.shopify.com/s/files/1/0268/8149/1135/files/tr-logo.png?v=1697694647">
                       
                        <p>
                            Introducing the ultimate multi-use racing gloves from Trak Racer, designed to give you the
                            competitive edge on the
                            track and also protect your wheel grip from rapid wear and tear. Our gloves are made with
                            high-quality materials to
                            provide maximum comfort and protection during intense racing sessions.
                        </p>
                    </div>
                    <div class="alpine-left">
                       <h3>Trak Racer Sim Racing Gloves</h3> 
                      <img src="https://cdn.shopify.com/s/files/1/0268/8149/1135/files/racing-gloves_55269609-1e6c-42f4-833b-449a67edc98d.png?v=1697624873">
                    </div>
                </div>
            </div>
        </div>
    </section>
<section>
  <div class="container">
         <form>          
                <div id="kalviyo-form">
                 <div class="klaviyo-form-UaES3V"></div>
                </div>
                </form>
  </div>
  </section>
  <section class="giveaway-terms">
        
          <div class="container">
            <div class="terms-conditions">
            <h3>Terms & Conditions</h3>
            <ul>
                <li>Competition conducted by Trak Racer, of 278 Canterbury Rd, Surrey Hills, VIC, 3127.</li>
                <li>Competition commences at 12am on 1/11/23 and closes at 11.59pm on 31/12/23 (AEST) (Entry Period).
                </li>
            </ul>
              <ul>
                <b>To enter the Competition, an Eligible Entrant must meet any of the following conditions:</b>
                <li>One entry by signing up to Trak Racer’s emailing list</li>
                <li>Ten entries by spending $1000 or more on Trak Racer’s website (cart value).</li>
                <li>Twenty entries by spending $2000 or more on Trak Racer’s website (cart value)</li>
                <li>If the entrant meets the mentioned requirements, they automatically enter the competition.</li>
                <li>If an eligible entrant purchases through a Trak Racer distributor, they must meet the above
                    conditions
                    and fill out the form listed on www.trakracer.com/pages/giveaway.</li>
                <li> Eligible entrants purchased through Trak Racer distributors must</li>
                <li> ensure their purchases are on Trak Racer products only.</li>
                <li>Eligible Entrants must be opted in to receive Trak Racer marketing communications and must not opt
                    out
                    during the Entry Period.</li>
                <li>The winner will be drawn at 12pm on 16/1/24 by Trak Racer.</li>
                <li>The winner will be notified by phone and email by 19/1/24 and published on all Trak Racer’s
                    social media
                    channels (Facebook, Instagram, Tiktok, Snapchat, LinkedIn) and on the competition website.</li>
                <li>If the winner does not respond within 7 days, a new winner will be drawn.</li>
                <li>The winner may be required to pay for shipping, and taxes if applicable.</li>
                <li>It is a condition of entry that Eligible Entrants consent to receive Trak Racer marketing
                    communications
                    and do not opt out during the Entry Period.</li>
                <li>Entrants may only enter the Competition in their own name. Multiple entries are permitted, but
                    each
                    entry must comply with these conditions.</li>
                <li>If an entrant decides to return their order and their order value does not meet the conditions,
                    they
                    will be removed from the competition</li>
            </ul>
        </div>
        </div>
    </section>


